*, *:before, *:after {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ブレイクポイントと連動している container の幅になる。 */
$contents-width-xs: 400px;
$contents-width-sm: 768px;
$contents-width-md: 920px;
$contents-width-lg: 1272px;
$contents-width-xl: 1480px;

/* containerにデフォルトで入っているpaddingを設定 */
$container-padding: 15px;

$map-breakpoint-up: (
  'xs': 'screen and (min-width: #{$contents-width-xs})',
  'sm': 'screen and (min-width: #{$contents-width-sm})',
  'md': 'screen and (min-width: #{$contents-width-md})',
  'lg': 'screen and (min-width: #{$contents-width-lg})',
  'xl': 'screen and (min-width: #{$contents-width-xl})',
  ) !default;

$map-breakpoint-down: (
  'xs': 'screen and (max-width: calc(#{$contents-width-xs} - 1px))',
  'sm': 'screen and (max-width: calc(#{$contents-width-sm} - 1px))',
  'md': 'screen and (max-width: calc(#{$contents-width-md} - 1px))',
  'lg': 'screen and (max-width: calc(#{$contents-width-lg} - 1px))',
  'xl': 'screen and (max-width: calc(#{$contents-width-xl} - 1px))',
  ) !default;

@mixin mq-up($breakpoint: md) {
  /* 引数無しのデフォルトでは md をブレイクポイントとする（ここはケースバイケースで使用頻度の高いものに入れ替える） */
  @media #{map-get($map-breakpoint-up, $breakpoint)} {
    @content;
  }
}

@mixin mq-down($breakpoint: md) {
  /* 引数無しのデフォルトでは md をブレイクポイントとする（ここはケースバイケースで使用頻度の高いものに入れ替える） */
  @media #{map-get($map-breakpoint-down, $breakpoint)} {
    @content;
  }
}

.container {
  margin: 0 auto;
  border: 2px solid #000;
  overflow: hidden;
  position: relative;

  &.is-lg-width {
    max-width: $contents-width-lg;
  }

  &.is-md-width {
    max-width: $contents-width-md;
  }

  &.is-sm-width {
    max-width: $contents-width-sm;
  }

  &.is-xs-width {
    max-width: $contents-width-xs;
  }

  @include mq-down(xs) {
    width: 100%;
  }

  @include mq-up(xs) {
    width: $contents-width-xs;
  }

  @include mq-up(sm) {
    width: $contents-width-sm;
  }

  @include mq-up(md) {
    width: $contents-width-md;
  }

  @include mq-up(lg) {
    width: $contents-width-lg;
  }

  @include mq-up(xl) {
    width: $contents-width-xl;
  }

  &.has-padding {
    padding: 0 $container-padding;
  }
}

/* スキン系 */

.is-bg-white {
  background-color: #fff;
}

.is-border-white {
  border-color: #fff;
}

/* アライン系 */

.has-text-center {
  text-align: center;
}

.has-text-right {
  text-align: right;
}
