<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="container">普通のcontainer</div>
  <div class="container is-lg-width">
    これは最大が lg 幅
  </div>
  <div class="container is-md-width">
    これは最大が md 幅
  </div>
  <div class="container is-sm-width">
    これは最大が sm 幅
  </div>
  <div class="container is-xs-width">
    これは最大が xs 幅
  </div>

  <button class="btn is-md has-border-rounded-full has-main-bg-color">ぼたん<strong>ぼたん</strong></button>
  <strong>ぼたん</strong>
  <div class="container">
    <h1>こんにちは、世界。</h1>
    <p>
      このテキストはすべてカーニング処理がされています。letter-spacing も加えていい感じにバランスを取っているので、見栄え的にも綺麗ですね。リガチャもんだいも解消されたということで、めでたしめでたし。
    </p>
  </div>
</body>
</html>

